{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'base.css' %}" />
</head>
<body>
  <header class="header">
    <div class="logo">
      <a href="{% url 'home' %}" class="logo-url">
        <span class="logo-text">QuoTea</span>
      </a>
    </div>

    <div class="header-btns">
      <a href="{% url 'create_quote' %}" class="header-btn">
        🆕
      </a>

      <a href="{% url 'popular_quotes' %}" class="header-btn">
        🔥
      </a>
    </div>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>