{% extends 'base.html' %}

{% block title %}Популярные цитаты{% endblock %}

{% block content %}

	<div class="popular-container">
    <form method="get">
      <div class="filter-items">
        <select name="sort_by" class="filter-item">
          <option value="views" {% if sort_by  == 'views' %}selected{% endif %}>Просмотры</option>
          <option value="likes" {% if sort_by  == 'likes' %}selected{% endif %}>Лайки</option>
          <option value="dislikes" {% if sort_by  == 'dislikes' %}selected{% endif %}>Дизлайки</option>
        </select>

        <select name="order" class="filter-item">
          <option value="asc" {% if order == 'asc' %}selected{% endif %}>По возрастанию</option>
          <option value="desc" {% if order == 'desc' %}selected{% endif %}>По убыванию</option>
        </select>

        <select name="number" class="filter-item">
          <option value="5" {% if number == 5 %}selected{% endif %}>5 цитат</option>
          <option value="10" {% if number == 10 %}selected{% endif %}>10 цитат</option>
        </select>

        <button type="submit" class="filter-item">🔍</button>
      </div>
    </form>

    {% for popular_quote in data %}
      <div class="quote-card">
        <h2 class="quote-text">"{{ popular_quote.quote }}"</h2>
        <h2 class="quote-source">{{ popular_quote.source }}</h2>
        <h2 class="quote-character">{{ popular_quote.character }}</h2>
        <div class="quote-stats">
          <h2 class="quote-views">👁 {{ popular_quote.views }}</h2>
          <h2 class="quote-likes">👍 {{ popular_quote.likes }}</h2>
          <h2 class="quote-dislikes">👎 {{ popular_quote.dislikes }}</h2>
        </div>
      </div>
    {% endfor %}
	</div>

{% endblock %}